@import '../../shared/styles/color.variables';

.button button {
  background-color: $background-color;
  border-radius: 10px;
  height: 40px;
  min-width: 60px;
  width: auto;
  border: $control-border;
  padding: 10px;
  cursor: pointer;
  margin: 10px;

  &:disabled {
    background-color: darkgreen;
    border: $control-border;
    color: white;
    cursor: default;
  }

  .secondary {
    background-color: red;
  }
}
