//Colors
$background-color: white;

//Borders
$border-color: black;
$border-color-disabled: grey;
$control-border: 2px solid $border-color;
$control-border-disabled: 2px solid $border-color-disabled;
