@import '../../shared/styles/color.variables';

input {
  background-color: $background-color;
  border-radius: 10px;
  height: 45px;
  min-width: 400px;
  width: auto;
  border: $control-border;
  padding: 0 10px;
  cursor: text;
  margin: 10px;
}
